body{
background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 45%, rgba(252,176,69,1) 100%);



}




img{
    width:500px;
    height:300;
    align-content: center;
}
h1{ 

text-align: center;
    font-family: monospace;
    font-size:38;
    
}

h3{
text-align: center;
    text-decoration: underline;
    font-family: cursive

}

p{
    
    font-family: monospace;
    font-size: 15;
    
}